# AuthType Basic
# AuthName "Secret Zone"
# AuthUserFile /etc/httpd/htpasswd
# Require valid-user

# RewriteEngine On
# RewriteBase /
# RewriteRule api/(.*) api.php
# RewriteRule api/(.*) api2.php

ErrorDocument 404 /404.html
