# AuthType Basic
# AuthName "Secret Zone"
# AuthUserFile /etc/httpd/htpasswd
# Require valid-user

RewriteEngine On
RewriteBase /
RewriteRule y-api/v1/(.*) y-api.php

ErrorDocument 404 /404.html

# エラー表示
php_flag display_errors On
